body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  overflow-x: hidden; }

h2 {
  font-size: 30px; }

img {
  max-width: 100%; }

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px; }

.main-content {
  padding-top: 68px;
  height: 100%; }

.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.heading-top {
  display: block;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 26px; }

h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 75px;
  margin-bottom: 20px; }
  @media (max-width: 991px) {
    h2 {
      font-size: 38px;
      line-height: 50px; } }
  @media (max-width: 767px) {
    h2 {
      font-size: 28px;
      line-height: 40px; } }
  h2 span {
    color: #7702FF; }

.global--form {
  background-color: #fff;
  padding: 50px 40px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px; }
  .global--form h2 {
    font-weight: 500;
    font-size: 30px; }
  .global--form .form-group label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #000000; }
  .global--form .form-group .form-control {
    height: 50px;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px; }
  .global--form .form-group textarea.form-control {
    height: 150px;
    padding-top: 10px; }
  .global--form .form-group .btn--primary {
    width: 100%;
    display: block;
    margin-top: 35px; }

.bg-yellow {
  background-color: #ffc107; }

.bg-red {
  background-color: #d70808; }

.btn {
  min-width: 150px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 15px;
  border: 1px solid #007bff;
  border-radius: 50px; }
  .btn--primary {
    background-color: #007bff;
    color: #fff; }
    .btn--primary:hover {
      background-color: initial;
      color: #007bff; }
  .btn--secondary {
    color: #007bff; }
    .btn--secondary:hover {
      background-color: #007bff;
      color: #fff; }

header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; }
  header .wrapper {
    max-width: 100%; }
  header .main-navigation ul {
    padding: 0;
    margin: 0;
    text-align: end; }
    header .main-navigation ul li {
      display: inline-block;
      padding: 0 16px; }
      @media (max-width: 1440px) {
        header .main-navigation ul li {
          padding: 0 12px; } }
      header .main-navigation ul li a {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #000000; }
        @media (max-width: 1280px) {
          header .main-navigation ul li a {
            font-size: 14px; } }
        header .main-navigation ul li a:hover {
          color: #007bff; }
  header .right {
    text-align: right; }
    header .right .btn {
      display: inline-block;
      margin-left: 8px; }
      @media (max-width: 1280px) {
        header .right .btn {
          font-size: 14px; } }

.header--desktop {
  padding: 15px 0; }
  @media (max-width: 1080px) {
    .header--desktop {
      display: none; } }

.header--mobile {
  display: none;
  background-color: #ffffff;
  box-shadow: 1px 0 5px 1px rgba(0, 0, 0, 0.3);
  padding: 20px 0; }
  .header--mobile .logo {
    max-width: 150px; }
  .header--mobile .text-left a img {
    min-width: 140px; }
  .header--mobile .text-mid {
    text-align: center; }
    .header--mobile .text-mid h1 {
      font-size: 25px;
      margin-bottom: 0; }
  .header--mobile .mobile-menu {
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    width: 240px;
    height: 100%;
    background-color: #ffffff;
    padding: 70px 30px;
    -webkit-transform: translate(240px, 0);
    transform: translate(240px, 0);
    transition: -webkit-transform 0.5s cubic-bezier(0, 0.52, 0, 1);
    transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1);
    transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1), -webkit-transform 0.5s cubic-bezier(0, 0.52, 0, 1);
    overflow: auto; }
    .header--mobile .mobile-menu ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      .header--mobile .mobile-menu ul li {
        display: block;
        padding-bottom: 11px;
        margin-bottom: 13px; }
        .header--mobile .mobile-menu ul li a {
          z-index: 12;
          position: relative;
          font-size: 14px;
          color: #000;
          transition: all 300ms ease; }
          .header--mobile .mobile-menu ul li a:hover {
            color: #007bff; }
          .header--mobile .mobile-menu ul li a.btn {
            width: 100%; }
            .header--mobile .mobile-menu ul li a.btn--primary {
              color: #fff; }
              .header--mobile .mobile-menu ul li a.btn--primary:hover {
                color: #007bff; }
            .header--mobile .mobile-menu ul li a.btn--secondary:hover {
              color: #fff; }
      .header--mobile .mobile-menu ul li.has-dropdown a.has-collapse {
        position: relative;
        display: block; }
        .header--mobile .mobile-menu ul li.has-dropdown a.has-collapse:before {
          content: "\F078";
          position: absolute;
          top: 2px;
          right: 0;
          font-family: "Font Awesome 5 Free";
          font-weight: bold;
          font-size: 14px; }
        .header--mobile .mobile-menu ul li.has-dropdown a.has-collapse:after {
          display: none;
          content: initial; }
      .header--mobile .mobile-menu ul li.has-dropdown ul li {
        padding: 0;
        border: 0; }

.hamburger {
  z-index: 1234;
  position: relative;
  top: 0;
  display: inline-block;
  width: 28px;
  height: 21px;
  margin: -5px 0;
  cursor: pointer; }
  .hamburger div {
    z-index: 12;
    position: relative;
    margin-top: 9px;
    display: block;
    width: 100%;
    height: 5px;
    background-color: #202A44;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out; }
    .hamburger div:before {
      display: block;
      width: 100%;
      height: 5px;
      background-color: #202A44;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      content: "";
      position: absolute;
      left: 0;
      top: -8px; }
    .hamburger div:after {
      display: block;
      width: 100%;
      height: 5px;
      background-color: #202A44;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      content: "";
      position: absolute;
      left: 0;
      bottom: -8px; }

.nav-open .mobile-menu {
  -webkit-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
  box-shadow: 8px 79px 60px 0px rgba(22, 22, 22, 0.17); }

.nav-open .hamburger div {
  background-color: transparent; }
  .nav-open .hamburger div:after {
    top: 1px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .nav-open .hamburger div:before {
    top: 1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.nav-open .main-header.fixed .hamburger div {
  background-color: transparent; }

@media (max-width: 1080px) {
  .header--mobile {
    display: block; } }

@media (max-width: 1440px) {
  .header--mobile .mobile-navigation--top-nav {
    padding: 4px 0; }
    .header--mobile .mobile-navigation--top-nav ul li a {
      font-size: 18px;
      padding: 8px 20px; } }

@media (max-width: 576px) {
  .header--mobile .mobile-navigation--top-nav {
    padding: 0; } }

@media (max-width: 680px) {
  .header--mobile .mobile-navigation--top-nav ul {
    align-items: center; }
    .header--mobile .mobile-navigation--top-nav ul li a {
      display: block;
      padding: 8px 10px; } }

@media (max-width: 540px) {
  .header--mobile .mobile-navigation--top-nav ul {
    flex-wrap: wrap; }
    .header--mobile .mobile-navigation--top-nav ul li {
      flex: 0 0 33.33%;
      width: 33%; }
      .header--mobile .mobile-navigation--top-nav ul li a {
        font-size: 16px;
        text-align: center;
        padding: 4px 10px;
        max-width: 130px;
        margin: 0 auto; } }

@media (max-width: 767px) {
  .header--mobile .mobile-navigation--top-nav ul li a {
    font-size: 16px;
    padding: 8px 15px; } }

.header--desktop {
  padding: 15px 0; }

.header--phone {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 1px 0 5px 1px rgba(0, 0, 0, 0.3); }
  @media (max-width: 767px) {
    .header--phone {
      padding: 20px 0; } }
  .header--phone .logo {
    max-width: 150px; }
  .header--phone .row {
    justify-content: space-between !important; }
    .header--phone .row .text-left a img {
      width: 200px; }
      @media (max-width: 767px) {
        .header--phone .row .text-left a img {
          min-width: 130px; } }
    .header--phone .row .text-mid {
      text-align: center; }
      @media (max-width: 1080px) {
        .header--phone .row .text-mid {
          display: none; } }
      .header--phone .row .text-mid h1 {
        font-size: 30px;
        margin-bottom: 0; }
  .header--phone .mobile-menu {
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    width: 240px;
    height: 100%;
    background-color: #e46021;
    padding: 70px 30px;
    -webkit-transform: translate(240px, 0);
    transform: translate(240px, 0);
    transition: -webkit-transform 0.5s cubic-bezier(0, 0.52, 0, 1);
    transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1);
    transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1), -webkit-transform 0.5s cubic-bezier(0, 0.52, 0, 1);
    overflow: auto; }
    .header--phone .mobile-menu ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      .header--phone .mobile-menu ul li {
        display: block;
        padding-bottom: 11px; }
        .header--phone .mobile-menu ul li a {
          z-index: 12;
          position: relative;
          font-size: 14px;
          font-weight: 400;
          color: #FFFFFF;
          transition: all 300ms ease; }
          .header--phone .mobile-menu ul li a:hover {
            color: #007bff; }
          .header--phone .mobile-menu ul li a.btn {
            width: 100%; }
            .header--phone .mobile-menu ul li a.btn--primary {
              color: #fff; }
              .header--phone .mobile-menu ul li a.btn--primary:hover {
                color: #007bff; }
            .header--phone .mobile-menu ul li a.btn--secondary:hover {
              color: #fff; }
      .header--phone .mobile-menu ul .btn-out {
        background-color: transparent;
        color: #FFFFFF; }
      .header--phone .mobile-menu ul li.has-dropdown a.has-collapse {
        position: relative;
        display: block; }
        .header--phone .mobile-menu ul li.has-dropdown a.has-collapse:before {
          content: "\F078";
          position: absolute;
          top: 2px;
          right: 0;
          font-family: "Font Awesome 5 Free";
          font-weight: bold;
          font-size: 14px; }
        .header--phone .mobile-menu ul li.has-dropdown a.has-collapse:after {
          display: none;
          content: initial; }
      .header--phone .mobile-menu ul li.has-dropdown ul li {
        padding: 0;
        border: 0; }

.hamburger {
  z-index: 1234;
  position: relative;
  top: 0;
  display: inline-block;
  width: 28px;
  height: 21px;
  margin: -5px 0;
  cursor: pointer; }
  .hamburger div {
    z-index: 12;
    position: relative;
    margin-top: 9px;
    display: block;
    width: 100%;
    height: 5px;
    background-color: #202A44;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out; }
    .hamburger div:before {
      display: block;
      width: 100%;
      height: 5px;
      background-color: #202A44;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      content: "";
      position: absolute;
      left: 0;
      top: -8px; }
    .hamburger div:after {
      display: block;
      width: 100%;
      height: 5px;
      background-color: #202A44;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      content: "";
      position: absolute;
      left: 0;
      bottom: -8px; }

.nav-open .mobile-menu {
  -webkit-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
  box-shadow: 8px 79px 60px 0px rgba(22, 22, 22, 0.17);
  width: 400px; }
  @media (max-width: 568px) {
    .nav-open .mobile-menu {
      width: 280px; } }

.nav-open .main-header.fixed .hamburger div {
  background-color: transparent; }

@media (max-width: 1080px) {
  .header--mobile {
    display: block; } }

@media (max-width: 1440px) {
  .header--mobile .mobile-navigation--top-nav {
    padding: 4px 0; }
    .header--mobile .mobile-navigation--top-nav ul li a {
      font-size: 18px;
      padding: 8px 20px; } }

@media (max-width: 576px) {
  .header--mobile .mobile-navigation--top-nav {
    padding: 0; } }

@media (max-width: 680px) {
  .header--mobile .mobile-navigation--top-nav ul {
    align-items: center; }
    .header--mobile .mobile-navigation--top-nav ul li a {
      display: block;
      padding: 8px 10px; } }

@media (max-width: 540px) {
  .header--mobile .mobile-navigation--top-nav ul {
    flex-wrap: wrap; }
    .header--mobile .mobile-navigation--top-nav ul li {
      flex: 0 0 33.33%;
      width: 33%; }
      .header--mobile .mobile-navigation--top-nav ul li a {
        font-size: 16px;
        text-align: center;
        padding: 4px 10px;
        max-width: 130px;
        margin: 0 auto; } }

@media (max-width: 767px) {
  .header--mobile .mobile-navigation--top-nav ul li a {
    font-size: 16px;
    padding: 8px 15px; } }

footer {
  color: #FFFFFF;
  background-color: #202A44;
  padding: 15px 0;
  position: relative;
  z-index: 99; }
  @media (max-width: 769px) {
    footer {
      padding: 40px 0;
      line-height: 40px; } }
  footer .wrapper {
    max-width: 100%; }
    footer .wrapper .row {
      align-items: center; }
      footer .wrapper .row .col-md-3 .image-logo {
        max-width: 250px; }
        @media (max-width: 769px) {
          footer .wrapper .row .col-md-3 .image-logo {
            margin-left: auto;
            margin-right: auto; } }
        footer .wrapper .row .col-md-3 .image-logo img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      footer .wrapper .row .col-md-3 .social-accounts {
        display: flex;
        justify-content: end; }
        @media (max-width: 769px) {
          footer .wrapper .row .col-md-3 .social-accounts {
            justify-content: center; } }
        footer .wrapper .row .col-md-3 .social-accounts .image {
          margin: 0 10px; }
      footer .wrapper .row .col-md-6 .text {
        text-align: center; }
        footer .wrapper .row .col-md-6 .text p {
          margin-bottom: 0;
          padding: 5px 0;
          font-size: 15px; }
          footer .wrapper .row .col-md-6 .text p span {
            color: #1BA098; }
        footer .wrapper .row .col-md-6 .text .d-flex {
          justify-content: center; }
          footer .wrapper .row .col-md-6 .text .d-flex a {
            color: #FFFFFF;
            margin: 0 10px;
            font-size: 15px; }
            @media (max-width: 766px) {
              footer .wrapper .row .col-md-6 .text .d-flex a {
                margin: 0;
                margin-right: 10px; } }

.page--home .section-faq {
  margin: 30px 0; }
  .page--home .section-faq .wrapper h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700; }
  .page--home .section-faq .wrapper .card {
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 12px rgba(0, 0, 0, 0.1); }
    .page--home .section-faq .wrapper .card .card-body {
      padding: 40px 50px;
      text-align: center; }
      @media (max-width: 567px) {
        .page--home .section-faq .wrapper .card .card-body {
          padding: 25px !important;
          text-align: start; } }
      .page--home .section-faq .wrapper .card .card-body .text {
        margin-bottom: 30px; }
        .page--home .section-faq .wrapper .card .card-body .text p {
          font-size: 18px;
          line-height: 22px; }
          .page--home .section-faq .wrapper .card .card-body .text p a {
            color: #ff6600;
            text-decoration: underline; }
      .page--home .section-faq .wrapper .card .card-body .faq {
        border-radius: 20px;
        border-top-right-radius: 20px; }
        .page--home .section-faq .wrapper .card .card-body .faq .faq-title {
          text-align: center;
          background-color: #ff6600;
          padding: 20px;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px; }
          .page--home .section-faq .wrapper .card .card-body .faq .faq-title h1 {
            font-size: 23px;
            margin-bottom: 0;
            color: #FFFFFF; }
        .page--home .section-faq .wrapper .card .card-body .faq .faq-item {
          border-bottom: 1px solid #ccc;
          padding: 10px 0;
          background-color: #e0e0e0; }
          .page--home .section-faq .wrapper .card .card-body .faq .faq-item .faq-question {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;
            font-size: 20px;
            padding: 5px 20px; }
            .page--home .section-faq .wrapper .card .card-body .faq .faq-item .faq-question .faq-toggle {
              margin-right: 10px; }
          .page--home .section-faq .wrapper .card .card-body .faq .faq-item .faq-answer {
            display: none;
            padding: 10px 0;
            background: #FFFFFF;
            padding: 25px; }
            @media (max-width: 568px) {
              .page--home .section-faq .wrapper .card .card-body .faq .faq-item .faq-answer {
                padding: 10px; } }
            .page--home .section-faq .wrapper .card .card-body .faq .faq-item .faq-answer .video-container {
              position: relative;
              width: 100%;
              padding-bottom: 56.25%;
              /* 16:9 aspect ratio */
              height: 0; }
              .page--home .section-faq .wrapper .card .card-body .faq .faq-item .faq-answer .video-container iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%; }
        .page--home .section-faq .wrapper .card .card-body .faq .radius {
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px; }
      .page--home .section-faq .wrapper .card .card-body .form {
        margin-top: 3rem; }
        .page--home .section-faq .wrapper .card .card-body .form .card-body {
          padding: 40px 55px; }
          @media (max-width: 568px) {
            .page--home .section-faq .wrapper .card .card-body .form .card-body {
              padding: 30px;
              font-size: 21px;
              text-align: start; } }
          .page--home .section-faq .wrapper .card .card-body .form .card-body h1 {
            font-size: 28px;
            margin-bottom: 10px;
            font-weight: 700;
            line-height: 30px; }
            @media (max-width: 568px) {
              .page--home .section-faq .wrapper .card .card-body .form .card-body h1 {
                text-align: start;
                font-size: 23px; } }
          .page--home .section-faq .wrapper .card .card-body .form .card-body h4 {
            margin-bottom: 25px;
            font-weight: 700; }
            @media (max-width: 568px) {
              .page--home .section-faq .wrapper .card .card-body .form .card-body h4 {
                font-size: 20px; } }
          .page--home .section-faq .wrapper .card .card-body .form .card-body .mb-3 {
            text-align: left; }
            .page--home .section-faq .wrapper .card .card-body .form .card-body .mb-3 input {
              border-radius: 0;
              padding: 25px 10px;
              font-size: 18px; }
            .page--home .section-faq .wrapper .card .card-body .form .card-body .mb-3 .message {
              font-size: 18px;
              max-height: 140px;
              min-height: 140px;
              padding: 10px; }
          .page--home .section-faq .wrapper .card .card-body .form .card-body .btn-submit {
            width: 100%;
            background-color: #ff6600;
            padding: 15px;
            font-size: 18px;
            border-radius: 10px;
            color: #FFFFFF; }

.page--mm-certification .section--mmcertification-header {
  background-image: url(../../images/certification.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  height: 438px; }
  .page--mm-certification .section--mmcertification-header .overlay {
    background-color: rgba(0, 51, 102, 0.7);
    height: 438px;
    position: absolute;
    width: 100%; }
  .page--mm-certification .section--mmcertification-header .wrapper {
    height: 100% !important; }
    .page--mm-certification .section--mmcertification-header .wrapper .mmcertification__content {
      height: 100%;
      display: flex;
      align-items: center; }
      .page--mm-certification .section--mmcertification-header .wrapper .mmcertification__content .text-container {
        width: 50%;
        margin-left: auto;
        color: #FFFFFF;
        position: relative; }
        @media (max-width: 768px) {
          .page--mm-certification .section--mmcertification-header .wrapper .mmcertification__content .text-container {
            width: 100%; } }
        .page--mm-certification .section--mmcertification-header .wrapper .mmcertification__content .text-container h1 {
          font-size: 42px;
          font-weight: bold; }
        .page--mm-certification .section--mmcertification-header .wrapper .mmcertification__content .text-container p {
          font-size: 21px; }
  .page--mm-certification .section--mmcertification-header .orange {
    height: 10px;
    width: 100%;
    background-color: #ff6600; }

.page--mm-certification .section--mmcertification-overview .wrapper .certification-overview__content {
  margin-top: 60px;
  margin-bottom: 150px; }
  @media (max-width: 767px) {
    .page--mm-certification .section--mmcertification-overview .wrapper .certification-overview__content {
      margin-bottom: 80px; } }
  .page--mm-certification .section--mmcertification-overview .wrapper .certification-overview__content .row .col-md-8 .production {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    max-width: 800px;
    flex-wrap: wrap;
    color: #FFFFFF;
    margin-left: 6rem; }
    @media (max-width: 767px) {
      .page--mm-certification .section--mmcertification-overview .wrapper .certification-overview__content .row .col-md-8 .production {
        display: grid;
        grid-template-columns: 1fr 1fr; } }
    @media (max-width: 420px) {
      .page--mm-certification .section--mmcertification-overview .wrapper .certification-overview__content .row .col-md-8 .production {
        display: grid;
        grid-template-columns: 1fr; } }
    .page--mm-certification .section--mmcertification-overview .wrapper .certification-overview__content .row .col-md-8 .production a {
      margin-bottom: 0;
      font-size: 21px;
      padding: 10px;
      color: #FFFFFF;
      text-decoration: none;
      font-weight: 700; }
    .page--mm-certification .section--mmcertification-overview .wrapper .certification-overview__content .row .col-md-8 .production .production-item {
      padding: 10px;
      width: 260px; }
      @media (max-width: 767px) {
        .page--mm-certification .section--mmcertification-overview .wrapper .certification-overview__content .row .col-md-8 .production .production-item {
          width: 100%; } }
      .page--mm-certification .section--mmcertification-overview .wrapper .certification-overview__content .row .col-md-8 .production .production-item img {
        width: 100%;
        object-fit: cover;
        height: 100%; }
      .page--mm-certification .section--mmcertification-overview .wrapper .certification-overview__content .row .col-md-8 .production .production-item .production-box {
        padding: 5px;
        position: relative;
        top: -110px;
        text-align: center;
        width: 240px;
        background-color: #ff6600;
        opacity: 0.8;
        cursor: pointer; }
        @media (max-width: 767px) {
          .page--mm-certification .section--mmcertification-overview .wrapper .certification-overview__content .row .col-md-8 .production .production-item .production-box {
            width: 100%; } }
        .page--mm-certification .section--mmcertification-overview .wrapper .certification-overview__content .row .col-md-8 .production .production-item .production-box:hover {
          opacity: 100%;
          transform: scale(1.1); }
  .page--mm-certification .section--mmcertification-overview .wrapper .certification-overview__content .row .col-md-4 .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    left: -1rem;
    margin-left: -1rem;
    background-color: #e7e7e7;
    border: none;
    margin: 10px 0; }
    @media (max-width: 1080px) {
      .page--mm-certification .section--mmcertification-overview .wrapper .certification-overview__content .row .col-md-4 .card {
        margin-left: 0;
        left: 0; } }
    .page--mm-certification .section--mmcertification-overview .wrapper .certification-overview__content .row .col-md-4 .card .card-body__content .image {
      max-width: 250px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px; }
      .page--mm-certification .section--mmcertification-overview .wrapper .certification-overview__content .row .col-md-4 .card .card-body__content .image img {
        width: 100%;
        object-fit: cover; }
    .page--mm-certification .section--mmcertification-overview .wrapper .certification-overview__content .row .col-md-4 .card .card-body__content .our-trainer {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .page--mm-certification .section--mmcertification-overview .wrapper .certification-overview__content .row .col-md-4 .card .card-body__content .our-trainer .trainer h4 {
        font-size: 25px;
        margin-bottom: 2px;
        font-weight: 500; }
      .page--mm-certification .section--mmcertification-overview .wrapper .certification-overview__content .row .col-md-4 .card .card-body__content .our-trainer .trainer h6 {
        color: #ff6600;
        font-size: 20px;
        font-weight: 400; }
      .page--mm-certification .section--mmcertification-overview .wrapper .certification-overview__content .row .col-md-4 .card .card-body__content .our-trainer .trainer-image {
        width: 120px; }
    .page--mm-certification .section--mmcertification-overview .wrapper .certification-overview__content .row .col-md-4 .card .card-body__content .text p {
      font-size: 18px;
      margin-top: 10px; }

.page--mastery-certification .section--side-bar .training-header {
  font-size: 24px !important;
  border-bottom: 2px solid #e46021;
  font-weight: 200 !important;
  margin-left: 15px !important; }
  @media (max-width: 767px) {
    .page--mastery-certification .section--side-bar .training-header {
      margin-left: 0 !important; } }

.page--mastery-certification .section--side-bar .row {
  margin-left: unset;
  margin-right: unset; }

.page--mastery-certification .section--side-bar .sidebar {
  width: 400px;
  background-color: #e7e7e7;
  padding: 20px 0;
  position: fixed;
  height: 100%;
  max-height: 400px;
  padding-right: auto;
  padding-left: auto; }
  @media (max-width: 767px) {
    .page--mastery-certification .section--side-bar .sidebar {
      position: relative;
      max-height: 100%;
      width: 100%;
      margin: 0 20px; } }
  .page--mastery-certification .section--side-bar .sidebar .intro {
    border-top: solid 2px #ff6600;
    border-bottom: solid 2px #ff6600; }
  .page--mastery-certification .section--side-bar .sidebar a {
    color: #ff6600;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none; }
  .page--mastery-certification .section--side-bar .sidebar .section {
    overflow-y: auto;
    margin-left: 9px; }
    .page--mastery-certification .section--side-bar .sidebar .section .dropdown {
      margin-top: 10px;
      padding: 10px;
      cursor: pointer;
      position: relative; }
      @media (max-width: 767px) {
        .page--mastery-certification .section--side-bar .sidebar .section .dropdown {
          margin-left: 0 !important;
          padding: 0 !important; } }
      .page--mastery-certification .section--side-bar .sidebar .section .dropdown button {
        width: 100%;
        text-align: left;
        font-weight: 500;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer; }
        .page--mastery-certification .section--side-bar .sidebar .section .dropdown button #icon1 {
          margin-left: 3rem; }
      .page--mastery-certification .section--side-bar .sidebar .section .dropdown .dropdown-content {
        display: none;
        background-color: #f7f7f7;
        padding: 10px;
        border: 1px solid #000;
        border-top: none; }
        .page--mastery-certification .section--side-bar .sidebar .section .dropdown .dropdown-content div {
          padding: 5px 0; }

.page--mastery-certification .section--side-bar .sidebar-accordion--listing {
  background-color: #e7e7e7;
  height: 100vh;
  overflow-y: auto;
  border-bottom: 1px solid #e46021;
  /* Rotate icon when collapse is shown */ }
  .page--mastery-certification .section--side-bar .sidebar-accordion--listing .rotate-icon {
    transition: transform 0.3s ease; }
  .page--mastery-certification .section--side-bar .sidebar-accordion--listing .rotate-icon.rotate {
    transform: rotate(180deg); }
  .page--mastery-certification .section--side-bar .sidebar-accordion--listing .card .card-header {
    padding: unset; }
    @media (max-width: 766px) {
      .page--mastery-certification .section--side-bar .sidebar-accordion--listing .card .card-header .btn-link {
        padding-left: 5px; } }
  .page--mastery-certification .section--side-bar .sidebar-accordion--listing .card .card-body {
    padding: unset !important;
    background-color: #e7e7e7;
    transition: 50ms all linear; }
  .page--mastery-certification .section--side-bar .sidebar-accordion--listing ul {
    margin-bottom: unset; }
    .page--mastery-certification .section--side-bar .sidebar-accordion--listing ul li a {
      color: #212529 !important;
      text-decoration: none !important;
      display: block;
      padding: 20px 25px;
      transition: 100ms all linear;
      font-weight: 400 !important;
      font-size: 1rem;
      line-height: 20px; }
      .page--mastery-certification .section--side-bar .sidebar-accordion--listing ul li a:hover {
        color: #fff !important;
        background-color: rgba(228, 96, 33, 0.8); }
      .page--mastery-certification .section--side-bar .sidebar-accordion--listing ul li a:focus {
        color: #fff !important;
        background-color: rgba(228, 96, 33, 0.8); }
      @media (max-width: 766px) {
        .page--mastery-certification .section--side-bar .sidebar-accordion--listing ul li a {
          padding: 20px 5px; } }
  .page--mastery-certification .section--side-bar .sidebar-accordion--listing .btn {
    border: unset;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #e7e7e7 !important;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    text-decoration: none; }
    .page--mastery-certification .section--side-bar .sidebar-accordion--listing .btn:hover {
      border-bottom: unset; }
    .page--mastery-certification .section--side-bar .sidebar-accordion--listing .btn .collapsed {
      border-radius: 0; }

@media (max-width: 991px) {
  .page--mastery-certification .box {
    padding-left: 4rem; } }

@media (max-width: 767px) {
  .page--mastery-certification .box {
    padding-left: 0px !important; } }

.page--mastery-certification .wrapper {
  padding: 20px 20px 20px 30px; }
  .page--mastery-certification .wrapper .master-body__content h1 {
    text-align: center;
    font-weight: 600;
    font-size: 30px; }
    @media (max-width: 767px) {
      .page--mastery-certification .wrapper .master-body__content h1 {
        font-size: 25px; } }
    @media (max-width: 568px) {
      .page--mastery-certification .wrapper .master-body__content h1 {
        font-size: 21px; } }
  .page--mastery-certification .wrapper .master-body__content .card {
    border-radius: 8px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1), 0 8px 12px rgba(0, 0, 0, 0.1);
    margin: 20px 0; }
    .page--mastery-certification .wrapper .master-body__content .card .card-body {
      padding: 20px 40px; }
      @media (max-width: 568px) {
        .page--mastery-certification .wrapper .master-body__content .card .card-body {
          padding: 20px; } }
      .page--mastery-certification .wrapper .master-body__content .card .card-body h5 {
        text-align: center; }
        @media (max-width: 568px) {
          .page--mastery-certification .wrapper .master-body__content .card .card-body h5 {
            font-size: 18px; } }
      .page--mastery-certification .wrapper .master-body__content .card .card-body .bold {
        font-weight: bold; }
        @media (max-width: 568px) {
          .page--mastery-certification .wrapper .master-body__content .card .card-body .bold {
            font-size: 25px; } }
      .page--mastery-certification .wrapper .master-body__content .card .card-body .video-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        /* 16:9 aspect ratio */
        height: 0;
        margin: 20px 0; }
        .page--mastery-certification .wrapper .master-body__content .card .card-body .video-container iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
      .page--mastery-certification .wrapper .master-body__content .card .card-body .pdf-file {
        width: 65%;
        margin-left: auto;
        margin-right: auto; }
        @media (max-width: 568px) {
          .page--mastery-certification .wrapper .master-body__content .card .card-body .pdf-file {
            width: 100%; } }
        .page--mastery-certification .wrapper .master-body__content .card .card-body .pdf-file .pdf-item {
          margin: 20px 0;
          display: flex;
          align-items: center;
          justify-content: center; }
          .page--mastery-certification .wrapper .master-body__content .card .card-body .pdf-file .pdf-item img {
            margin-right: 15px;
            width: 35px; }
          .page--mastery-certification .wrapper .master-body__content .card .card-body .pdf-file .pdf-item a {
            font-size: 14px;
            color: #ff6600;
            font-weight: 600;
            text-decoration: underline; }

.page--home-v2 .section-faq {
  margin: 30px 0; }
  .page--home-v2 .section-faq .wrapper h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700; }
  .page--home-v2 .section-faq .wrapper .card {
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 12px rgba(0, 0, 0, 0.1); }
    .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .training-header {
      font-size: 24px !important;
      border-bottom: 2px solid #e46021;
      font-weight: 200 !important;
      margin-left: 15px !important; }
      @media (max-width: 767px) {
        .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .training-header {
          margin-left: 0 !important; } }
    .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .row {
      margin-left: unset;
      margin-right: unset; }
    .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .sidebar {
      width: 400px;
      background-color: #e7e7e7;
      padding: 20px 0;
      position: fixed;
      height: 100%;
      max-height: 400px;
      padding-right: auto;
      padding-left: auto; }
      @media (max-width: 767px) {
        .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .sidebar {
          position: relative;
          max-height: 100%;
          width: 100%;
          margin: 0 20px; } }
      .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .sidebar .intro {
        border-top: solid 2px #ff6600;
        border-bottom: solid 2px #ff6600; }
      .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .sidebar a {
        color: #ff6600;
        font-size: 1.25rem;
        font-weight: 600;
        text-decoration: none; }
      .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .sidebar .section {
        overflow-y: auto;
        margin-left: 9px; }
        .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .sidebar .section .dropdown {
          margin-top: 10px;
          padding: 10px;
          cursor: pointer;
          position: relative; }
          @media (max-width: 767px) {
            .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .sidebar .section .dropdown {
              margin-left: 0 !important;
              padding: 0 !important; } }
          .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .sidebar .section .dropdown button {
            width: 100%;
            text-align: left;
            font-weight: 500;
            background: none;
            border: none;
            padding: 0;
            cursor: pointer; }
            .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .sidebar .section .dropdown button #icon1 {
              margin-left: 3rem; }
          .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .sidebar .section .dropdown .dropdown-content {
            display: none;
            background-color: #f7f7f7;
            padding: 10px;
            border: 1px solid #000;
            border-top: none; }
            .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .sidebar .section .dropdown .dropdown-content div {
              padding: 5px 0; }
    .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .sidebar-accordion--listing {
      background-color: #e7e7e7;
      height: 100vh;
      overflow-y: auto;
      border-bottom: 1px solid #e46021;
      /* Rotate icon when collapse is shown */ }
      .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .sidebar-accordion--listing .rotate-icon {
        transition: transform 0.3s ease; }
      .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .sidebar-accordion--listing .rotate-icon.rotate {
        transform: rotate(180deg); }
      .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .sidebar-accordion--listing .card .card-header {
        padding: unset; }
        @media (max-width: 766px) {
          .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .sidebar-accordion--listing .card .card-header .btn-link {
            padding-left: 5px; } }
      .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .sidebar-accordion--listing .card .card-body {
        padding: unset !important;
        background-color: #e7e7e7;
        transition: 50ms all linear; }
      .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .sidebar-accordion--listing ul {
        margin-bottom: unset; }
        .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .sidebar-accordion--listing ul li a {
          color: #212529 !important;
          text-decoration: none !important;
          display: block;
          padding: 20px 25px;
          transition: 100ms all linear;
          font-weight: 400 !important;
          font-size: 1rem;
          line-height: 20px; }
          .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .sidebar-accordion--listing ul li a:hover {
            color: #fff !important;
            background-color: rgba(228, 96, 33, 0.8); }
          .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .sidebar-accordion--listing ul li a:focus {
            color: #fff !important;
            background-color: rgba(228, 96, 33, 0.8); }
          @media (max-width: 766px) {
            .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .sidebar-accordion--listing ul li a {
              padding: 20px 5px; } }
      .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .sidebar-accordion--listing .btn {
        border: unset;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1rem 1.25rem;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        background-color: #e7e7e7 !important;
        border: 0;
        border-radius: 0;
        overflow-anchor: none;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
        text-decoration: none; }
        .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .sidebar-accordion--listing .btn:hover {
          border-bottom: unset; }
        .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .section--side-bar .sidebar-accordion--listing .btn .collapsed {
          border-radius: 0; }
    @media (max-width: 991px) {
      .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .box {
        padding-left: 4rem; } }
    @media (max-width: 767px) {
      .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .box {
        padding-left: 0px !important; } }
    .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .wrapper {
      padding: 20px 20px 20px 30px; }
      .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .wrapper .master-body__content h1 {
        text-align: center;
        font-weight: 600;
        font-size: 30px; }
        @media (max-width: 767px) {
          .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .wrapper .master-body__content h1 {
            font-size: 25px; } }
        @media (max-width: 568px) {
          .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .wrapper .master-body__content h1 {
            font-size: 21px; } }
      .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .wrapper .master-body__content .card {
        border-radius: 8px;
        box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1), 0 8px 12px rgba(0, 0, 0, 0.1);
        margin: 20px 0; }
        .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .wrapper .master-body__content .card .card-body {
          padding: 20px 40px; }
          @media (max-width: 568px) {
            .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .wrapper .master-body__content .card .card-body {
              padding: 20px; } }
          .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .wrapper .master-body__content .card .card-body h5 {
            text-align: center; }
            @media (max-width: 568px) {
              .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .wrapper .master-body__content .card .card-body h5 {
                font-size: 18px; } }
          .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .wrapper .master-body__content .card .card-body .bold {
            font-weight: bold; }
            @media (max-width: 568px) {
              .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .wrapper .master-body__content .card .card-body .bold {
                font-size: 25px; } }
          .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .wrapper .master-body__content .card .card-body .video-container {
            position: relative;
            width: 100%;
            padding-bottom: 56.25%;
            /* 16:9 aspect ratio */
            height: 0;
            margin: 20px 0; }
            .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .wrapper .master-body__content .card .card-body .video-container iframe {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%; }
          .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .wrapper .master-body__content .card .card-body .pdf-file {
            width: 65%;
            margin-left: auto;
            margin-right: auto; }
            @media (max-width: 568px) {
              .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .wrapper .master-body__content .card .card-body .pdf-file {
                width: 100%; } }
            .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .wrapper .master-body__content .card .card-body .pdf-file .pdf-item {
              margin: 20px 0;
              display: flex;
              align-items: center;
              justify-content: center; }
              .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .wrapper .master-body__content .card .card-body .pdf-file .pdf-item img {
                margin-right: 15px;
                width: 35px; }
              .page--home-v2 .section-faq .wrapper .card .page--mastery-certification .wrapper .master-body__content .card .card-body .pdf-file .pdf-item a {
                font-size: 14px;
                color: #ff6600;
                font-weight: 600;
                text-decoration: underline; }
    .page--home-v2 .section-faq .wrapper .card .card-body {
      padding: 40px 50px;
      text-align: center; }
      @media (max-width: 567px) {
        .page--home-v2 .section-faq .wrapper .card .card-body {
          padding: 25px !important;
          text-align: start; } }
      .page--home-v2 .section-faq .wrapper .card .card-body .text {
        margin-bottom: 30px; }
        .page--home-v2 .section-faq .wrapper .card .card-body .text p {
          font-size: 18px;
          line-height: 22px; }
          .page--home-v2 .section-faq .wrapper .card .card-body .text p a {
            color: #ff6600;
            text-decoration: underline; }
      .page--home-v2 .section-faq .wrapper .card .card-body .faq {
        border-radius: 20px;
        border-top-right-radius: 20px; }
        .page--home-v2 .section-faq .wrapper .card .card-body .faq .faq-title {
          text-align: center;
          background-color: #ff6600;
          padding: 20px;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px; }
          .page--home-v2 .section-faq .wrapper .card .card-body .faq .faq-title h1 {
            font-size: 23px;
            margin-bottom: 0;
            color: #FFFFFF; }
        .page--home-v2 .section-faq .wrapper .card .card-body .faq .faq-item {
          border-bottom: 1px solid #ccc;
          padding: 10px 0;
          background-color: #e0e0e0; }
          .page--home-v2 .section-faq .wrapper .card .card-body .faq .faq-item .faq-question {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;
            font-size: 20px;
            padding: 5px 20px; }
            .page--home-v2 .section-faq .wrapper .card .card-body .faq .faq-item .faq-question .faq-toggle {
              margin-right: 10px; }
          .page--home-v2 .section-faq .wrapper .card .card-body .faq .faq-item .faq-answer {
            display: none;
            padding: 10px 0;
            background: #FFFFFF;
            padding: 25px; }
            @media (max-width: 568px) {
              .page--home-v2 .section-faq .wrapper .card .card-body .faq .faq-item .faq-answer {
                padding: 10px; } }
            .page--home-v2 .section-faq .wrapper .card .card-body .faq .faq-item .faq-answer .video-container {
              position: relative;
              width: 100%;
              padding-bottom: 56.25%;
              /* 16:9 aspect ratio */
              height: 0; }
              .page--home-v2 .section-faq .wrapper .card .card-body .faq .faq-item .faq-answer .video-container iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%; }
        .page--home-v2 .section-faq .wrapper .card .card-body .faq .radius {
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px; }
      .page--home-v2 .section-faq .wrapper .card .card-body .form {
        margin-top: 3rem; }
        .page--home-v2 .section-faq .wrapper .card .card-body .form .card-body {
          padding: 40px 55px; }
          @media (max-width: 568px) {
            .page--home-v2 .section-faq .wrapper .card .card-body .form .card-body {
              padding: 30px;
              font-size: 21px;
              text-align: start; } }
          .page--home-v2 .section-faq .wrapper .card .card-body .form .card-body h1 {
            font-size: 28px;
            margin-bottom: 10px;
            font-weight: 700;
            line-height: 30px; }
            @media (max-width: 568px) {
              .page--home-v2 .section-faq .wrapper .card .card-body .form .card-body h1 {
                text-align: start;
                font-size: 23px; } }
          .page--home-v2 .section-faq .wrapper .card .card-body .form .card-body h4 {
            margin-bottom: 25px;
            font-weight: 700; }
            @media (max-width: 568px) {
              .page--home-v2 .section-faq .wrapper .card .card-body .form .card-body h4 {
                font-size: 20px; } }
          .page--home-v2 .section-faq .wrapper .card .card-body .form .card-body .mb-3 {
            text-align: left; }
            .page--home-v2 .section-faq .wrapper .card .card-body .form .card-body .mb-3 input {
              border-radius: 0;
              padding: 25px 10px;
              font-size: 18px; }
            .page--home-v2 .section-faq .wrapper .card .card-body .form .card-body .mb-3 .message {
              font-size: 18px;
              max-height: 140px;
              min-height: 140px;
              padding: 10px; }
          .page--home-v2 .section-faq .wrapper .card .card-body .form .card-body .btn-submit {
            width: 100%;
            background-color: #ff6600;
            padding: 15px;
            font-size: 18px;
            border-radius: 10px;
            color: #FFFFFF; }
