body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  overflow-x: hidden; }

img {
  max-width: 100%; }

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px; }

.main-content {
  padding-top: 120px; }

.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.heading-top {
  display: block;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 26px; }

h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 75px;
  margin-bottom: 20px; }
  @media (max-width: 991px) {
    h2 {
      font-size: 38px;
      line-height: 50px; } }
  @media (max-width: 767px) {
    h2 {
      font-size: 28px;
      line-height: 40px; } }
  h2 span {
    color: #7702FF; }

.global--form {
  background-color: #fff;
  padding: 50px 40px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px; }
  .global--form h2 {
    font-weight: 500;
    font-size: 30px; }
  .global--form .form-group label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #000000; }
  .global--form .form-group .form-control {
    height: 50px;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px; }
  .global--form .form-group textarea.form-control {
    height: 150px;
    padding-top: 10px; }
  .global--form .form-group .btn--primary {
    width: 100%;
    display: block;
    margin-top: 35px; }

.bg-yellow {
  background-color: #ffc107; }

.bg-red {
  background-color: #d70808; }

.btn {
  min-width: 150px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 15px;
  border: 1px solid #007bff;
  border-radius: 50px; }
  .btn--primary {
    background-color: #007bff;
    color: #fff; }
    .btn--primary:hover {
      background-color: initial;
      color: #007bff; }
  .btn--secondary {
    color: #007bff; }
    .btn--secondary:hover {
      background-color: #007bff;
      color: #fff; }

header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  background-color: #fff; }
  header .wrapper {
    max-width: 1280px; }
  header .main-navigation ul {
    padding: 0;
    margin: 0; }
    header .main-navigation ul li {
      display: inline-block;
      padding: 0 16px; }
      @media (max-width: 1440px) {
        header .main-navigation ul li {
          padding: 0 12px; } }
      header .main-navigation ul li a {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #000000; }
        @media (max-width: 1280px) {
          header .main-navigation ul li a {
            font-size: 14px; } }
        header .main-navigation ul li a:hover {
          color: #007bff; }
  header .right {
    text-align: right; }
    header .right .btn {
      display: inline-block;
      margin-left: 8px; }
      @media (max-width: 1280px) {
        header .right .btn {
          font-size: 14px; } }

@media (max-width: 1080px) {
  .header--desktop {
    display: none; } }

.header--mobile {
  display: none;
  background-color: #ffffff;
  box-shadow: 1px 0 5px 1px rgba(0, 0, 0, 0.3);
  padding: 20px 0; }
  .header--mobile .logo {
    max-width: 150px; }
  .header--mobile .mobile-menu {
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    width: 240px;
    height: 100%;
    background-color: #ffffff;
    padding: 70px 30px;
    -webkit-transform: translate(240px, 0);
    transform: translate(240px, 0);
    transition: -webkit-transform 0.5s cubic-bezier(0, 0.52, 0, 1);
    transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1);
    transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1), -webkit-transform 0.5s cubic-bezier(0, 0.52, 0, 1);
    overflow: auto; }
    .header--mobile .mobile-menu ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      .header--mobile .mobile-menu ul li {
        display: block;
        padding-bottom: 11px;
        margin-bottom: 13px;
        border-bottom: 1px solid #f1f1f1; }
        .header--mobile .mobile-menu ul li a {
          z-index: 12;
          position: relative;
          font-size: 14px;
          color: #000;
          transition: all 300ms ease; }
          .header--mobile .mobile-menu ul li a:hover {
            color: #007bff; }
          .header--mobile .mobile-menu ul li a.btn {
            width: 100%; }
            .header--mobile .mobile-menu ul li a.btn--primary {
              color: #fff; }
              .header--mobile .mobile-menu ul li a.btn--primary:hover {
                color: #007bff; }
            .header--mobile .mobile-menu ul li a.btn--secondary:hover {
              color: #fff; }
      .header--mobile .mobile-menu ul li.has-dropdown a.has-collapse {
        position: relative;
        display: block; }
        .header--mobile .mobile-menu ul li.has-dropdown a.has-collapse:before {
          content: "\F078";
          position: absolute;
          top: 2px;
          right: 0;
          font-family: "Font Awesome 5 Free";
          font-weight: bold;
          font-size: 14px; }
        .header--mobile .mobile-menu ul li.has-dropdown a.has-collapse:after {
          display: none;
          content: initial; }
      .header--mobile .mobile-menu ul li.has-dropdown ul li {
        padding: 0;
        border: 0; }

.hamburger {
  z-index: 1234;
  position: relative;
  top: 0;
  display: inline-block;
  width: 28px;
  height: 21px;
  margin: -5px 0;
  cursor: pointer; }
  .hamburger div {
    z-index: 12;
    position: relative;
    margin-top: 9px;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #007bff;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out; }
    .hamburger div:before {
      display: block;
      width: 100%;
      height: 2px;
      background-color: #007bff;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      content: "";
      position: absolute;
      left: 0;
      top: -8px; }
    .hamburger div:after {
      display: block;
      width: 100%;
      height: 2px;
      background-color: #007bff;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      content: "";
      position: absolute;
      left: 0;
      bottom: -8px; }

.nav-open .mobile-menu {
  -webkit-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
  box-shadow: 8px 79px 60px 0px rgba(22, 22, 22, 0.17); }

.nav-open .hamburger div {
  background-color: transparent; }
  .nav-open .hamburger div:after {
    top: 1px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .nav-open .hamburger div:before {
    top: 1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.nav-open .main-header.fixed .hamburger div {
  background-color: transparent; }

@media (max-width: 1080px) {
  .header--mobile {
    display: block; } }

@media (max-width: 1440px) {
  .header--mobile .mobile-navigation--top-nav {
    padding: 4px 0; }
    .header--mobile .mobile-navigation--top-nav ul li a {
      font-size: 18px;
      padding: 8px 20px; } }

@media (max-width: 576px) {
  .header--mobile .mobile-navigation--top-nav {
    padding: 0; } }

@media (max-width: 680px) {
  .header--mobile .mobile-navigation--top-nav ul {
    align-items: center; }
    .header--mobile .mobile-navigation--top-nav ul li a {
      display: block;
      padding: 8px 10px; } }

@media (max-width: 540px) {
  .header--mobile .mobile-navigation--top-nav ul {
    flex-wrap: wrap; }
    .header--mobile .mobile-navigation--top-nav ul li {
      flex: 0 0 33.33%;
      width: 33%; }
      .header--mobile .mobile-navigation--top-nav ul li a {
        font-size: 16px;
        text-align: center;
        padding: 4px 10px;
        max-width: 130px;
        margin: 0 auto; } }

@media (max-width: 767px) {
  .header--mobile .mobile-navigation--top-nav ul li a {
    font-size: 16px;
    padding: 8px 15px; } }

footer {
  padding: 80px 0 40px;
  background: linear-gradient(180deg, #000000 30.21%, #252A3C 85.94%);
  border-radius: 40px 40px 0px 0px; }
  @media (max-width: 991px) {
    footer {
      padding: 30px 0;
      border-radius: 20px 20px 0px 0px; } }
  @media (max-width: 991px) {
    footer .col-2,
    footer .col-8 {
      flex: 0 0 100%;
      max-width: 100%; }
    footer .center a {
      display: inline-block;
      margin-bottom: 10px; } }
  footer h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 40px;
    margin-bottom: 40px; }
    @media (max-width: 991px) {
      footer h2 {
        font-size: 18px;
        margin-top: 24px;
        margin-bottom: 24px; } }
  footer h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #fff;
    margin-bottom: 40px; }
    @media (max-width: 991px) {
      footer h3 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 24px; } }
    footer h3 span {
      display: block;
      color: #007bff; }
  footer .space {
    height: 40px; }
  footer ul {
    padding: 0;
    margin: 0; }
    footer ul li {
      margin-bottom: 18px; }
      footer ul li a {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #fff; }
        footer ul li a:hover {
          color: #007bff; }
  footer .disclaimer {
    padding-top: 180px; }
    @media (max-width: 991px) {
      footer .disclaimer {
        padding-top: 40px; } }
    footer .disclaimer p {
      font-weight: 300;
      font-size: 14px;
      line-height: 21px;
      color: #fff; }
