.bg-yellow {
    background-color:#ffc107;
}

.bg-red {
    background-color: #d70808;
}

$color-primary: #007bff;

$color-accordion: #212529;

$accordion-transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
