footer {

    background-color: yellow;

    
    .wrapper {
        max-width: 100%;
        .row {
            
            .col-md-3 {

                .image-logo {
                    width: 300px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

            }

            .col-md-6 { 
                 .text {
                    text-align: center;

                    .d-flex {
                        justify-content: center;
                        
                    }
                }
            }
            
        }
    }   
}