footer {
    color: #FFFFFF;
    background-color: #202A44;
    padding: 15px 0;
    position: relative;
    z-index: 99;
    
    @media (max-width: 769px) {
        padding: 40px 0;
        line-height: 40px;
    }

    
    .wrapper {
        max-width: 100%;
        .row {
            align-items: center;
            .col-md-3 {

                .image-logo {
                    max-width: 250px;
                    
                    @media (max-width: 769px) {
                        margin-left: auto;
                        margin-right: auto;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .social-accounts {
                    display: flex;
                    justify-content: end;

                    @media (max-width: 769px) {
                        justify-content: center;
                    }

                    .image {
                        margin: 0 10px;
                    }
                }

            }

            .col-md-6 { 
                 .text {
                    text-align: center;

                    // @media (max-width: 767px) {
                    //     text-align: start;
                    //     padding: 20px 0;
                    // }

                    p {
                        margin-bottom: 0;
                        padding: 5px 0;
                        font-size: 15px;

                        span {
                            color: #1BA098;
                            
                        }
                    }

                    .d-flex {
                        justify-content: center;   
                        // @media (max-width: 767px) {
                        //     justify-content: start;
                        //     margin-top: 1.75rem;
                        // }
                        
                        a {
                            color: #FFFFFF;
                            margin: 0 10px;
                            font-size: 15px;

                            @media (max-width: 766px) {
                                margin: 0;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
            
        }
    }   
}