.page--home-v2 {
    .section-faq {
            margin: 30px 0;
        .wrapper {
            h1 {
                text-align: center;
                margin-bottom: 20px;
                font-size: 30px;
                font-weight: 700;
            }
            .card {
                width: 100%;
                max-width: 900px;.page--mastery-certification {

                    .section--side-bar {
                        // z-index:999999;
                        // position: fixed;
                        .training-header {
                            font-size: 24px !important ;
                            border-bottom: 2px solid #e46021;
                            font-weight:200 !important;
                            margin-left: 15px!important;
                
                            @media (max-width: 767px) {
                                margin-left: 0!important;
                            }
                        }
                
                        .row {
                            margin-left: unset;
                            margin-right: unset;
                
                         
                        }
                
                
                        .sidebar {
                            width: 400px;
                            background-color: #e7e7e7;
                            padding: 20px 0;
                            position: fixed;
                            height: 100%;
                            max-height: 400px;
                            padding-right:auto;
                            padding-left:auto;
                
                            @media (max-width: 767px) {
                                position: relative;
                                max-height: 100%;
                                width: 100%;
                                margin: 0 20px;
                            
                            }
                
                            .intro {
                                border-top: solid 2px #ff6600;
                                border-bottom: solid 2px #ff6600;
                            }
                
                            a {
                                color: #ff6600;
                                font-size: 1.25rem;
                                font-weight: 600;
                                text-decoration: none;
                            }
                
                            .section {
                                overflow-y: auto;
                                margin-left: 9px;
                                .dropdown {
                                    margin-top: 10px;
                                    padding: 10px;
                                    cursor: pointer;
                                    position: relative;
                
                                    
                
                                    @media (max-width: 767px) {
                                        margin-left: 0!important;
                                        padding: 0!important;
                                    }
                
                                    button {
                                        width: 100%;
                                        text-align: left;
                                        font-weight: 500;
                                        background: none;
                                        border: none;
                                        padding: 0;
                                        cursor: pointer;
                
                                        #icon1 {
                                            margin-left: 3rem;
                                        }
                                    }
                
                                    .dropdown-content {
                                        display: none;
                                        background-color: #f7f7f7;
                                        padding: 10px;
                                        border: 1px solid #000;
                                        border-top: none;
                
                                        div {
                                            padding: 5px 0;
                                        }
                                    }
                
                                }
                            }
                        }
                
                        
                        .sidebar-accordion--listing {
                            background-color: #e7e7e7;
                            height: 100vh;
                            overflow-y: auto;
                            border-bottom: 1px solid #e46021;
                
                            /* Rotate icon when collapse is shown */
                            .rotate-icon {
                            transition: transform 0.3s ease;
                            }
                
                            .rotate-icon.rotate {
                            transform: rotate(180deg);
                            }
                
                
                
                            .card {
                           
                                .card-header {
                                    padding: unset;
                
                                    .btn-link {
                                        
                                        @media (max-width: 766px) {
                                            padding-left: 5px;
                                        }
                                    }
                                }
                                .card-body {          
                                    padding: unset !important;
                                    background-color: #e7e7e7;
                                    transition: 50ms all linear;
                                }
                            }
                
                            ul {
                                margin-bottom: unset;
                                li {
                                    a {
                                        color: $color-accordion !important;
                                        text-decoration: none !important;
                                        display: block;
                                        padding: 20px 25px;
                                        transition: 100ms all linear;
                                        font-weight:400 !important;
                                        font-size:1rem;
                                        line-height: 20px;
                                        
                
                                        &:hover {
                                            color: #fff !important;
                                            background-color: rgba(228,96,33, 0.8);
                                        }
                                        &:focus {
                                            color: #fff !important;
                                            background-color: rgba(228,96,33, 0.8);
                                        }
                
                                        @media (max-width: 766px) {
                                            padding: 20px 5px;
                                        }
                
                                    }
                                }
                            }
                
                
                            .btn {
                                border: unset;
                                position: relative;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                width: 100%;
                                padding: 1rem 1.25rem;
                                font-size: 1rem;
                                color: $color-accordion;
                                text-align: left;
                                background-color: #e7e7e7 !important;
                                border: 0;
                                border-radius: 0;
                                overflow-anchor: none;
                                transition: $accordion-transition;
                                text-decoration: none;
                
                                &:hover {
                                    border-bottom: unset;
                                    
                                }
                
                                .collapsed {
                                    border-radius:0;
                                }  
                            }
                        }
                    }
                    
                    .box {
                        @media (max-width: 991px) {
                            padding-left: 4rem;
                        }
                
                        @media (max-width: 767px) {
                            padding-left: 0px!important;
                        }
                    }
                
                    .section--mastery-body {
                        // margin-left: 25rem;
                
                    }
                
                    .wrapper {
                        padding: 20px 20px 20px 30px;
                        .master-body {
                            &__content {
                                // margin: 30px 0;
                                h1 {
                                    text-align: center;
                                    font-weight: 600;
                                    font-size: 30px;
                                    
                
                                    @media (max-width:767px) {
                                        font-size: 25px;
                                    }
                
                                    @media (max-width: 568px) {
                                        font-size: 21px;
                                    }
                                }
                                .card {
                                    border-radius: 8px;
                                    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1), 0 8px 12px rgba(0, 0, 0, 0.1);
                                    margin: 20px 0;
                                    .card-body {
                                        padding: 20px 40px;
                
                                        @media (max-width: 568px ) {
                                            padding: 20px;
                                        }
                
                                        h5 {
                                            text-align: center;
                
                                            @media (max-width: 568px) {
                                                font-size: 18px;
                                            }
                                        }
                
                                        .bold {
                                            font-weight: bold;
                
                                            @media (max-width: 568px) {
                                                font-size: 25px;
                                            }
                                        }
                
                                        .video-container {
                                            position: relative;
                                            width: 100%;
                                            padding-bottom: 56.25%; /* 16:9 aspect ratio */
                                            height: 0;
                                            margin: 20px 0;
                    
                                            iframe {
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                width: 100%;
                                                height: 100%;
                                            }
                                        }
                
                                        .pdf-file {
                                            width: 65%;
                                            margin-left: auto;
                                            margin-right: auto;
                
                                            @media (max-width: 568px) {
                                                width: 100%;
                                            }
                
                                            .pdf-item {
                                                margin: 20px 0;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                
                                                img {
                                                    margin-right: 15px;
                                                    width: 35px;
                                                }
                
                                                a {
                                                    font-size: 14px;
                                                    color: #ff6600;
                                                    font-weight: 600;
                                                    text-decoration: underline;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                
                margin-left: auto;
                margin-right: auto;
                border-radius: 20px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 12px rgba(0, 0, 0, 0.1);

                .card-body {
                    padding: 40px 50px;
                    text-align: center;

                    @media (max-width: 567px) {
                        padding: 25px!important;
                        text-align: start;
                    }

                    .text {
                        margin-bottom: 30px;

                        p {
                            font-size: 18px;
                            line-height: 22px;
                            
                            a {
                                color: #ff6600;
                                text-decoration: underline;
                            }
                        }
                    }
                    
                    .faq {
                        border-radius: 20px;
                        border-top-right-radius: 20px;

                        .faq-title {
                            text-align: center;
                            background-color: #ff6600;
                            padding: 20px;
                            border-top-left-radius: 20px;
                            border-top-right-radius: 20px;
                            
                            h1 {
                                font-size: 23px;
                                margin-bottom: 0;
                                color: #FFFFFF;
                            }
                        }

                        .faq-item {
                            border-bottom: 1px solid #ccc;
                            padding: 10px 0;
                            background-color: #e0e0e0;
            
                            .faq-question {
                                cursor: pointer;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                font-weight: bold;
                                font-size: 20px;
                                padding: 5px 20px;
            
                                .faq-toggle {
                                    margin-right: 10px;
                                    

                                }
                            }
            
                            .faq-answer {
                                display: none;
                                padding: 10px 0;
                                background: #FFFFFF;
                                padding: 25px;

                                @media (max-width: 568px) {
                                    padding: 10px;
                                }
            
                                .video-container {
                                    position: relative;
                                    width: 100%;
                                    padding-bottom: 56.25%; /* 16:9 aspect ratio */
                                    height: 0;
            
                                    iframe {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }

                        .radius {
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                        }
                    }

                    .form {
                        margin-top: 3rem;
                        .card-body {
                            padding: 40px 55px;

                            @media (max-width: 568px) {
                                padding: 30px;
                                font-size: 21px;
                                text-align: start;
                            }

                            h1 {
                                font-size: 28px;
                                margin-bottom: 10px;
                                font-weight: 700;
                                line-height: 30px;

                                @media (max-width: 568px) {
                                    text-align: start;
                                    font-size: 23px;
                                }
                            }

                            h4 {
                                margin-bottom: 25px;
                                font-weight: 700;

                                @media (max-width: 568px) {
                                    font-size: 20px;
                                }
                            }

                            .mb-3 {
                                text-align: left;

                                input {
                                    border-radius: 0;
                                    padding: 25px 10px;
                                    font-size: 18px;
                                }
                                
                                .message {
                                    font-size: 18px;
                                    max-height: 140px;
                                    min-height: 140px;
                                    padding: 10px;
                                }
                            }

                            .btn-submit {
                                width: 100%;
                                background-color: #ff6600;
                                padding: 15px;
                                font-size: 18px;
                                border-radius: 10px;
                                color: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }
    }
}